body
{
	font-family: tahoma, verdana, arial, helvetica;
	font-size: .7em;
	background-color: #FFFFFF;
	color: #626278;
	margin: 20px 10px 10px 10px;
}
hr
{
	color: #D4D4D4;
	background-color: #D4D4D4;
	height: 1px;
	border: none;
}
p
{
	margin-top: 13px;
}
a:link
{
	color: #648BCB;
}
a:active
{
	color: #648BCB;
}
a:visited
{
	color: #648BCB;
}
a:hover
{
	color: #82AC83;
}
.field
{
	font-family: tahoma, verdana, arial, helvetica;
	font-size: 11px;
	color: #626278;
	width: 170px;
}
.button
{
	font-family: tahoma, verdana, arial, helvetica;
	font-size: 11px;
	padding: 2px 0 2px 0;
	width: 85px;
}
.form_table
{
	width: 270px;
}
.form_td_left
{
	width: 185px;
}
.form_td_right
{
	width: 85px;
}
