@media only screen and (min-width: 320px) and (max-width: 767px) {
    div._contMayor2 button {
        background-color: $text-blanco;
        width: 90%;
        height: 40px;
        margin-left: 5%;
        margin-top: 10%;
        margin-bottom: 20px;
    }
    div._contMayor div.row div.col-sm-6 div._admisionEscolar button {
        background-color: $text-blanco;
        width: 85%;
        height: 40px;
        margin-left: 7%;
        margin-bottom: 20px;
    }
    div._contMayor div.row div.col-sm-6 div._horarios button {
        background-color: $text-blanco;
        width: 85%;
        height: 40px;
        margin-left: 7%;
        margin-bottom: 20px;
    }
    div._contMayor div.container div.col-sm-4 div._electronica button {
        background-color: $text-corp-azul;
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
        margin-bottom: 20px;
    }

    div._contMayor div.container div.col-sm-4 div._electricidad button {
        background-color: $text-corp-azul;
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
        margin-bottom: 30px;
    }
    div._contMayor div.container div.col-sm-4 div._electronica button {
        background-color: $text-corp-azul;
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
        margin-bottom: 20px;
    }
    div._contMayor div.container div.col-sm-4 div._vestuario button {
        background-color: $text-corp-azul;
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
        margin-bottom: 20px;
    }
    div._contMayor div.container div.col-sm-4 div._electronica{
        background-color: #FFFFFF;
        float: left;
        height: auto;
    }
    div._contMayor div.container div.col-sm-4 div._electricidad{
        background-color: #FFFFFF;
        float: left;
        height: auto;
    }
    div._contMayor div.container div.col-sm-4 div._vestuario{
        background-color: #FFFFFF;
        float: left;
        height: auto;
    }
    div._contMayor3 div.row div.col-sm-6 div._noticia1 img {
        margin-left: 5%;
    }
    div._contMayor3 div.row div.col-sm-6 div._noticia1 div._cajaTexto {
        margin-left: 5%;
    }
    div._contMayor3 div.row div.col-sm-3 div._noticia2 img {
        margin-left: 5%;
    }
    div._contMayor3 div.row div.col-sm-3 div._noticia2 div._cajaTexto {
        margin-left: 5%;
    }
    div._contMayor3 div.row div.col-sm-3 div._noticia3 img {
        margin-left: 5%;
    }
    div._contMayor3 div.row div.col-sm-3 div._noticia3 div._cajaTexto {
        margin-left: 5%;
        margin-bottom: 20px;
    }
    div._contMayor4 div.row div.col-sm-6 div._noticia4 div._cajaTexto {
        height: auto;
    }
    div._contMayor4 div.row div.col-sm-4 div._noticia4 div._cajaTexto {
        background-size: cover;
        background-image: url(../img/fondos/fondo-05-mobile.png);
        width: 100%;
        height: 250px;
    }
    div._contMayor4 div.row div.col-sm-4 div._noticia6 div._cajaTexto {
        background-size: cover;
        background-image: url(../img/fondos/fondo-06-mobile.png);
        width: 100%;
        height: 200px;
    }
    div._contMayor4 div.row div.col-sm-4 div._noticia6 div._cajaTexto h2 {
        padding-top: 20px;
    }
    div._contMayor4 div.row div.col-sm-4 div._noticia6 div._cajaTexto button {
        font-family: 'Hind Siliguri', sans-serif;
        font-size: 16px;
        background-color: #FFFFFF;
        color: #202c5a;
        border: 1px solid #FFFFFF;
        width: 90%;
        margin-left: 0;
        margin-top: 10%;
        margin-bottom: 20px;
    }
    div._contMayor4 div.row div.col-sm-4 div._noticia5 div._cajaTexto button {
        font-family: 'Hind Siliguri', sans-serif;
        font-size: 16px;
        background-color: #FFFFFF;
        color: #202c5a;
        border: 1px solid #FFFFFF;
        width: 90%;
        margin-left: 0;
        margin-top: 10%;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
    div._contMayor4 div.row div.col-sm-4 div._noticia4 div._cajaTexto {
        background-size: cover;
        background-image: url(../img/fondos/fondo-05-768.png);
        width: 100%;
        height: 250px;
    }
    div._contMayor4 div.row div.col-sm-4 div._noticia6 div._cajaTexto {
        background-size: cover;
        background-image: url(../img/fondos/fondo-06-768.png);
        width: 100%;
        height: 250px;
    }
    div._contMayor4 div.row div.col-sm-4 div._noticia6 div._cajaTexto button {
        width: 50%;
        height: 40px;
    }
    div._contMayor4 div.row div.col-sm-4 div._noticia5 div._cajaTexto button {
        width: 50%;
        height: 40px;
        margin-top: 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 873px) {
    div._contMayor2 div._imagen img {
        width: 100%;
        height: 580px;
    }
}
@media only screen and (min-width: 874px) and (max-width: 1100px) {
    div._contMayor2 div._imagen img {
        width: 100%;
        height: 540px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 920px) {
    div.carousel.slide div.carousel-inner {
        height: 580px;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1125px) {
    div._contMayor4 div.row div.col-sm-4 div._noticia4 div._cajaTexto {
        background-size: cover;
        background-image: url(../img/fondos/fondo-05-900.png);
        width: 100%;
        height: 250px;
    }
    div._contMayor4 div.row div.col-sm-4 div._noticia6 div._cajaTexto {
        background-size: cover;
        background-image: url(../img/fondos/fondo-06-900.png);
        width: 100%;
        height: 250px;
    }
    div._contMayor4 div.row div.col-sm-4 div._noticia6 div._cajaTexto button {
        width: 50%;
        height: 40px;
    }
    div._contMayor4 div.row div.col-sm-4 div._noticia5 div._cajaTexto button {
        width: 50%;
        height: 40px;
        margin-top: 20px;
    }

}

@media only screen and (min-width: 1001px) and (max-width: 1125px) {
    div._contMayor2 div._imagen img {
        width: 100%;
        height: 480px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    div._contMayor div.container div.col-sm-4 div._electronica button {
        width: 50%;
        height: 40px;
        margin-left: 35%;
        margin-top: 30px;
    }
    div._contMayor div.container div.col-sm-4 div._electricidad button {
        width: 50%;
        height: 40px;
        margin-left: 35%;
        margin-top: 30px;
    }
    div._contMayor div.container div.col-sm-4 div._vestuario button {
        width: 50%;
        height: 40px;
        margin-left: 35%;
        margin-top: 30px;
    }
}


